PUID=1000
PGID=1000
TZ=UTC
APP_URL=https://ranariaz.duckdns.org/wiki
APP_NAME=Rana Riaz Wiki
DB_HOST=wiki-db
DB_PORT=3306
DB_USER=bookstack
DB_PASS=change-me
DB_DATABASE=bookstackapp
APP_KEY=base64-or-random-app-key
